* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #735BA6;
    color: white;
    font-size: 16px;
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.container {
    background-color: #fff;
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
    color: #333;
    max-width: 500px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to right, #CBAEF2, #735BA6);
    color: white;
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    transition: background 0.3s ease;
}

button:hover {
    background-image: linear-gradient(to right, #735BA6, #CBAEF2);
}

.alert-box {
    background-color: #F8D7DA;
    color: #721C24;
    border: 1px solid #F5C6CB;
    border-radius: 5px;
    padding: 10px;
    margin: 20px 0;
    text-align: center;
}
